:root {
  --primary-color: #000;
  --secondary-color: #f8c651;
  --font-size-small: 12px;
  --font-size-normal: 16px;
  --font-size-medium: 20px;
  --font-size-large: 32px;
  --font-size-title: 64px;
  --font-size-title-small: 32px;
  --font-weight-title: bold;
  --text-color-primary: #fff;
  --text-color-secondary: #b9b0b0;
  --spacing: 16px;
  --section-padding-horizontal-small: 32px;
  --section-padding-horizontal-large: 96px;
  --section-padding-vertical: 16px;
  --container-padding-large-screen: 16px 96px;
  --container-padding-small-screen: 16px 32px;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px; /* Adjust this to match the height of your navbar */
}

/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #fff;
  background-color: rgb(0, 0, 0);
}

/* Header Section */
.header {
  background: var(--primary-color);
  color: #fff;
  padding: 8px var(--section-padding-horizontal-large);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar {
  background-color: #000;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.logo {
  font-size: 2rem;
  font-weight: bold;
}
.logo a {
  text-decoration: none;
  color: #fff;
}
.menu-icon {
  display: none;
  font-size: 40px;
}
.menu-icon:hover {
  color: var(--secondary-color);
}
.nav-links {
  display: flex;
  gap: 16px;
}
.nav-links div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.nav-links a {
  font-size: 16px;
  font-weight: 400;
  padding: 4px 16px;
  border-radius: 8px;
  color: white;
  text-decoration: none;
}
.nav-links a:hover {
  color: var(--secondary-color);
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 4px;
}
.nav-links a.active {
  color: var(--secondary-color);
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 4px;
}

.menu-active {
  display: block;
}

/* Hero section  */
.hero {
  background: url("https://images.unsplash.com/photo-1478760329108-5c3ed9d495a0?q=80&w=2874&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    center/cover no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  padding: var(--section-padding-vertical)
    var(--section-padding-horizontal-large);
}

.hero span {
  color: var(--secondary-color);
}
.hero p:nth-of-type(2) {
  font-size: 40px;
  font-weight: bold;
}
.hero p:nth-child(3) {
  font-size: 28px;
}

.hero-button-container {
  display: flex;
  gap: 16px;
  padding: 8px;
}
.hero button {
  padding: 16px 32px;
  border-radius: 32px;
  width: 150px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: transform 0.2s ease-out;
  cursor: pointer;
}
.hero button:hover {
  transform: scale(1.1);
}
.hero button:nth-child(1) {
  background-color: var(--secondary-color);
  border: none;
}
.hero button:nth-child(2) {
  background-color: transparent;
  color: #fff;
  border: 1px solid lightgray;
}

/* ABOUT SECTION*/

.about {
  padding: var(--section-padding-vertical)
    var(--section-padding-horizontal-large);
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}

#about-content {
  align-items: start;
}
#about-sub-title {
  text-align: left;
  padding: 0;
}
.about-image {
  justify-self: center;
}
#about-background-text {
  text-align: left;
}
.about-info {
  width: 100%;
}
.about-info p {
  padding: 8px 0px;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
  grid-template-columns: 120px 1fr;
  word-break: break-word;
  color: var(--text-color-secondary);
}
.about-label {
  color: var(--text-color-primary);
  font-weight: 600;
}
.about-project-content {
  font-size: 24px;
}
.about-project-count {
  color: var(--secondary-color);
  font-weight: 600;
}

/* RESUME SECTION  */

.resume-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 32px;
}
.resume-card {
  padding: 48px 32px;
  border-radius: 8px;
  background-color: #333;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.resume-card-year {
  font-size: var(--font-size-large);
  font-weight: bold;
  color: var(--secondary-color);
}
.resume-card-title {
  font-size: var(--font-size-large);
}
.resume-card-sub-title {
  font-size: var(--font-size-normal);
  color: var(--text-color-secondary);
  font-weight: bold;
  letter-spacing: 4px;
}
.resume-card-content {
  font-size: var(--font-size-medium);
  color: var(--text-color-secondary);
  line-height: 28px;
  margin-top: 24px;
}

/* SERVICES SECTION  */

.services-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin-top: 64px;
}
.services-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  background-color: #333;
  gap: 16px;
  padding: 48px 32px 80px 32px;
  border-radius: 8px;
  transition: transform 0.2s ease-out;
}
.services-card:hover {
  transform: scale(1.05);
}
.services-icon {
  color: var(--secondary-color);
  font-size: 64px;
}
.services-card-title {
  margin-top: 24px;
  letter-spacing: 2px;
  text-transform: uppercase; /* Text transformed to Uppercase */
  position: relative;
}
.services-card-title::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -16px;
  height: 1px; /* Thickness of the underline */
  width: 25%; /* Length of the underline */
  background-color: var(--secondary-color);
}

/* SKILLS SECTION  */
.skills-card-container {
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  row-gap: 64px;
  column-gap: 48px;
}
.skills-card {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.skills-card-title,
.skills-card-percentage {
  font-size: 24px;
  font-weight: 600;
}

.skills-content {
  display: flex;
  justify-content: space-between;
}
.skills-card-progress-container {
  background: #484848;
  border-radius: 4px;
  font-size: 24px;
}
.progress {
  color: var(--secondary-color);
  height: 12px;
  background-color: var(--secondary-color);
  border-radius: 4px;
}

/* PROJECTS SECTION  */
.projects-card-container {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 1fr));
  gap: 24px;
  width: 100%;
}
.projects-card-container img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: transform 0.2s ease-out;
}
.projects-card-container img:hover {
  cursor: pointer;
  transform: scale(1.03);
}
.projects-card-container div:nth-child(2),
.projects-card-container div:nth-child(3),
.projects-card-container div:nth-child(5) {
  grid-column: span 2;
}

/* BLOG SECTION  */
.blog-article-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin-top: 48px;
}
.blog-article {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.blog-article-date-container {
  display: flex;
  gap: 24px;
  color: var(--secondary-color);
  letter-spacing: 2px;
  font-size: 12px;
}
.blog-article-comments-container {
  display: flex;
  gap: 8px;
}
.blog-article-image {
  width: 100%;
}
.blog-article-title {
  font-size: 24px;
  font-weight: 600;
}
.blog-article-sub-title {
  color: var(--text-color-secondary);
}
.blog-bg-image {
  background: url("https://picsum.photos/id/327/2000/1000") center/cover
    no-repeat;
  position: relative;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog-bg-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  z-index: 1;
}

.blog-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
  position: absolute;
  top: -16px;
  right: 0;
  left: 0;
  padding: var(--container-padding-large-screen);
  z-index: 2;
}
.blog-card {
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 32px;
  border-radius: 4px;
  transform: translate(0%, -50%);
}
.blog-card-count {
  font-size: 28px;
  font-weight: bold;
  color: var(--secondary-color);
}

#blog-bottom {
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 600px;
  text-align: center;
  padding-bottom: 100px;
  z-index: 2;
}
.blog-title {
  font-size: 32px;
  font-weight: bold;
}
.blog-sub-title {
  color: var(--text-color-secondary);
}

/* CONTACTS SECTION  */

#contacts-container {
  align-items: stretch;
  text-align: center;
}
.contacts-items-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 64px;
}
.contacts-item {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  text-align: center;
}
#contact-icon {
  padding: 48px;
}
#contacts-icon {
  font-size: 24px;
  color: var(--text-color-secondary);
  height: 80px;
  width: 80px;
  border-radius: 100%;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-name {
  color: var(--secondary-color);
}
.item-details {
  color: var(--text-color-secondary);
}
.contacts-bottom-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 64px;
}
.contacts-image-container {
  background-color: #333;
  display: flex;
  justify-content: center;
}
.contacts-form-container {
  background-color: #f8f7f7;
}
.form input {
  padding: 16px;
  border-radius: 8px;
  border: 1px solid rgba(112, 110, 110, 0.2);
  letter-spacing: 0.5px;
}
.form input::placeholder {
  color: rgba(112, 110, 110, 0.8);
}
.form textarea {
  padding: 16px;
  border-radius: 8px;
  border: 1px solid rgba(112, 110, 110, 0.2);
  letter-spacing: 0.5px;
  height: 200px;
  width: 100%;
  min-width: 250px;
  max-width: 600px;
}
.form textarea::placeholder {
  color: rgba(112, 110, 110, 0.8);
}

/* FOOTER SECTION  */
.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 80px;
  margin-bottom: 80px;
}
.footer-columns {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.footer-columns-title {
  font-size: 20px;
  font-weight: 600;
}
.footer-columns-body {
  color: var(--text-color-secondary);
}
.footer-columns-body li {
  display: flex;
}
.icons-container {
  display: flex;
  gap: 20px;
}
.icon {
  font-size: 24px;
  color: var(--text-color-secondary);
  height: 48px;
  width: 48px;
  border-radius: 100%;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.footer-items-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-items-list li {
  list-style-type: none;
}
.footer-link {
  text-decoration: none;
  color: var(--text-color-secondary);
  padding-left: 8px;
  cursor: pointer;
}
.footer-contacts-item {
  display: flex;
  align-items: start;
  gap: 24px;
}
.footer-copyright {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 100px;
}
.footer-copyright p {
  color: var(--text-color-secondary);
}

/* REUSABLE/COMMON CLASSES  */
.container {
  padding: var(--container-padding-large-screen);
  margin-top: 80px;
  width: 100%;
}
.content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

.background-text {
  position: absolute;
  top: 32px;
  font-size: 140px;
  color: rgba(255, 255, 255, 0.25); /* Faded text effect */
  font-weight: bold;
  white-space: nowrap; /* Prevents text wrapping */
  z-index: -1; /* Ensures it stays behind other content */
  right: 0;
  left: 0;
  text-align: center;
}
.title {
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-title);
}
.sub-title {
  color: var(--text-color-secondary);
  font-size: 1rem;
}
.cv-button {
  padding: 20px 32px;
  border-radius: 32px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: transform 0.2s ease-out;
  cursor: pointer;
  background-color: var(--secondary-color);
  border: none;
  width: 200px;
  font-weight: 600;
}
.cv-button:hover {
  transform: scale(1.1);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 48px;
}

/* Responsive Design */
/* DESKTOP FIRST APPROACH IS BEING USED AS INITIALLY PROJECT WAS CREATED FOR DESKTOP AND PRIMARY AUDIENCE ARE DESKTOP USERS  */
@media (max-width: 1200px) {
  .nav-links a {
    padding: 4px 8px;
  }
}

@media (max-width: 1024px) {
  /* REUSABLE CSS  WITH MEDIA QUERY */
  .background-text {
    font-size: 64px;
    /* text-align: center; */
  }
  .title {
    font-size: var(--font-size-title-small);
    font-weight: var(--font-weight-title);
  }
  .sub-title {
    padding: 0px;
  }
  /* NAVBAR  */
  .header {
    padding: 8px var(--section-padding-horizontal-small);
  }
  .menu-icon {
    display: block;
  }
  .nav-links {
    display: none;
    gap: 0;
  }
  #nav-links {
    padding: 16px 0px;
  }

  .nav-links a {
    text-decoration: none;
  }
  .nav-links a:hover {
    color: var(--secondary-color);
    text-decoration: none;
  }
  .nav-links a.active {
    text-decoration: none;
  }
  .nav-links.menu-active {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 120%;
    right: 16px;
    background-color: #5b5959;
    width: 250px;
    padding: 0px 0px;
    border-radius: 8px;
  }
  /* Hero section  */
  .hero {
    height: 100%;
    padding: var(--section-padding-vertical)
      var(--section-padding-horizontal-small);
  }

  /* About Section  */

  .about {
    grid-template-columns: 1fr;
    padding: var(--section-padding-vertical)
      var(--section-padding-horizontal-small);
  }
  .about-title {
    font-size: var(--font-size-title-small);
    padding-top: 24px;
  }
  .about-info p {
    font-size: 20px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
  .about-info p span {
    justify-self: right;
    margin-right: 32px;
  }
  #about-content {
    align-items: center;
  }

  #about-sub-title {
    text-align: center;
  }
  .about-image {
    max-width: 300px;
    height: auto;
  }

  /* RESUME SECTION  */
  .container {
    padding: var(--container-padding-small-screen);
  }
  .resume-card-container {
    grid-template-columns: 1fr;
  }

  /* SERVICES SECTION  */
  .services-container {
    padding: var(--container-padding-small-screen);
  }
  .services-card-container {
    grid-template-columns: repeat(2, 1fr);
  }

  /* PROJECTS SECTION  */
  .projects-card-container {
    grid-template-columns: repeat(2, minmax(150px, 1fr));
  }
  .projects-card-container div:nth-child(2),
  .projects-card-container div:nth-child(3),
  .projects-card-container div:nth-child(5) {
    grid-column: span 1;
  }
  /* CONTACTS SECTION  */

  /* BLOG SECTION  */
  .blog-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    padding: var(--container-padding-large-screen);
    z-index: 2;
    position: relative;
  }

  #blog-bottom {
    top: 0;
    padding: 0;
  }

  .footer-container {
    display: grid;
    grid-template-columns: 2fr;
    gap: 32px;
    margin-bottom: 80px;
  }
  .footer-columns {
    gap: 8px;
  }
  .footer-copyright {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .hero p:nth-of-type(2) {
    font-size: 60px;
  }
  .services-card-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .skills-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 32px;
  }
  .projects-card-container {
    grid-template-columns: repeat(1, minmax(150px, 1fr));
  }
  .blog-article-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    margin-top: 48px;
  }

  .contacts-bottom-container {
    grid-template-columns: 1fr;
    border-radius: 8px;
    overflow: hidden;
  }
  .contacts-items-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
  .contacts-image-container {
    display: none;
  }
  .footer-container {
    grid-template-columns: 1fr;
  }
}

/* Define the fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0; /* Fully transparent */
  }
  to {
    opacity: 1; /* Fully opaque */
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out; /* 2 seconds duration, ease-in-out timing */
}
